<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>JP Laos – 3W Dashboard</title>

    {% load static %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">

    <script src="{% static 'lib/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'lib/semantic/semantic.min.js' %}"></script>
    <script src="{% static 'lib/FileSaver.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter2/1.5.4/crossfilter.min.js"
            integrity="sha512-YTblpiY3CE9zQBW//UMBfvDF2rz6bS7vhhT5zwzqQ8P7Z0ikBGG8hfcRwmmg3IuLl2Rwk95NJUEs1HCQD4EDKQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
            integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {##}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.1/d3.min.js"#}
    {#            integrity="sha512-1e0JvdNhUkvFbAURPPlFKcX0mWu/b6GT9e0uve7BW4MFxJ15q4ZCd/Llz+B7/oh+qhw7/l6Q1ObPt6aAuR01+Q=="#}
    {#            crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}

    <script src="{% static 'lib/d3-scale-cluster.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"
            integrity="sha512-wNH6xsp2n8CfB91nrBtfc4sfLwYPBMjSWVUwQOp60AYYXH6i8yCwuKFZ4rgK2i6pQek/b+bSyR7b01/922IBzQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/dc.min.js"
            integrity="sha512-vIRU1/ofrqZ6nA3aOsDQf8kiJnAHnLrzaDh4ob8yBcJNry7Czhb8mdKIP+p8y7ixiNbT/As1Oii9IVk+ohSFiA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/dc.js"
            integrity="sha512-ULRjYchIGoNAXgktDOljo9I6068lh36z4K2a8fDMQLp5xHHxGpvCdLr7TPbYYxDlT2ik585NeCO9xDIFS9SiEg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/style/dc.css"
          integrity="sha512-ZCK4qcVpG4m3G6VG2CWs5Tl870Xn9xhT3SWJLmbsbTfU9/hzyZDeCzyLpjsCc27YxlDi19URyKlY+h4cQIifig=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/4.2.7/style/dc.min.css"
          integrity="sha512-t38Qn1jREPvzPvDLgIP2fjtOayaA1KKBuNpNj9BGgiMi+tGLOdvDB+aWLMe2BvokHg1OxRLQLE7qrlLo+A+MLA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="{% static 'lib/semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<div class="ui stackable main menu">
    <div class="item">
        <img height="35px" src="{% static 'img/jp_logo_square.png' %}" alt="JP Laos">
    </div>
    <a class="item" href="/">Home</a>
    <a class="item" href="/upload">Upload</a>
    <div class="right menu">
        {% if user.is_authenticated %}
            <div class="ui dropdown item">
                {{ user }} <i class="dropdown icon"></i>

                <div class="menu">
                    <div class="header">ACTIONS</div>
                    <a class="item" href="/admin">Administration</a>
                    <a class="item" href="/admin/password_change/">Change Password</a>
                    <div class="divider"></div>
                    <a class="item" href="/admin/logout/">Log Out</a>
                </div>
            </div>
        {% else %}
            <a class="item" href="/admin/login/">Sign In</a>
        {% endif %}
    </div>
</div>

<div id="dashboard" class="ui" style="visibility: hidden">
    <div class="ui secondary pointing menu">
        <div class="item active" data-tab="projects" id="projects">Projects</div>
        <div class="item" data-tab="team-europe" id="team-europe">Team Europe</div>
        <div class="item" data-tab="pipeline" id="pipeline">Pipeline</div>
    </div>

    <div class="ui tab active" data-tab="projects" id="projects-tab">
        <div class="ui grid">
            <div class="two column row">
                <div class="column">
                    <button class="ui button left floated" id="download">
                        Download Data
                    </button>
                </div>
                <div class="column">
                    <button class="ui button right floated" id="reset">
                        Clear
                    </button>
                    <button class="ui right floated labeled icon button" id="filter">
                        <i class="filter icon"></i>
                        <span class="text ">Filters</span>
                    </button>
                    <div class="ui flowing popup top left transition hidden card">
                        <div class="content">
                            <div class="header">Filters</div>
                        </div>
                        <div class="content">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <label>Status</label>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input checked="checked" name="ongoing" type="checkbox">
                                            <label>Ongoing</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="planned">
                                            <label>Planned</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="closed">
                                            <label>Closed</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="grouped fields">
                                    <label>Measure</label>
                                    <div class="field">
                                        <div id="measure-toggle" class="ui toggle checkbox">
                                            <input type="checkbox" name="public">
                                            <label>Funding</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="extra content">
                            <button class="ui button disabled">Reload Data</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="two column row">
                <div class="column">
                    <div class="ui statistic">
                        <div class="value" id="count">
                            <span class="filter-count"></span>
                        </div>
                        <div class="label">
                            projects
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui statistic right floated">
                        <div class="value">
                            <span class="filter-funding" id="funding-total"></span>
                        </div>
                        <div class="label">
                            funding
                        </div>
                    </div>
                </div>
            </div>
            <div id="map-container"
                 class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui middle aligned two column grid">
                    <div id="admin-level-switcher" class="column">
                        <select name="admin-level" id="geolevel" class="ui fluid dropdown">
                            <option value="province">Province</option>
                            <option value="district">District</option>
                        </select>
                    </div>
                </div>

                <div id="map"></div>
                <div id="map-district" style="display: none"></div>
                <div>
                    <svg id="legend" class="map legend"></svg>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
                <div class="ui grid">
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column"
                         id="priority-chart-container">
                        <h2 class="ui header">Priority Areas</h2>
                        <div id="priority-chart"></div>
                    </div>
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column"
                         id="modality-chart-containet">
                        <h2 class="ui header">Modality</h2>
                        <div id="modality-chart"></div>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                        <h2 class="ui header">Implementing Partner Category</h2>
                        <div id="ip-category"></div>
                    </div>
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column"
                         id="partners-chart-container">
                        <h2 class="ui header">Partner</h2>
                        <div id="partners"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui two column stackable grid">
            <div class="column"
                 id="sector-chart-container">
                <h2 class="ui header">Sector</h2>
                <div id="sector"></div>
            </div>
            <div class="column" id="cci-chart-container">
                <h2 class="ui header">Cross-cutting Issues</h2>
                <div id="cross_cutting_issues"></div>
            </div>
        </div>
        <div class="ui two column stackable grid">
            <div class="column" id="sdg-1-container">
                <h2 class="ui header">Sustainable Development Goals</h2>
                <div id="sdg1"></div>
            </div>
            <div class="column" id="nsedc-chart-container">
                <h2 class="ui header">NSEDP Outcomes</h2>
                <div id="nsedc"></div>
            </div>
            <div class="column" id="sdg-3-container">
                <div id="sdg3"></div>
            </div>
        </div>
        <div class="row">
            <div id="data-table">
                {#                <div class='header'>#}
                {#                  <span>Date</span>#}
                {#                  <span>Title</span>#}
                {#                  <span>Close</span>#}
                {#                  <span>Change</span>#}
                {#                  <span>Volume</span>#}
                {#              </div>#}
            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="team-europe">
        <div class="ui grid">
            <div class="two column row">
                <div class="column">
                    <button class="ui button left floated" id="">
                        Download Data
                    </button>
                </div>
                <div class="column">
                    <button class="ui button right floated" id="green-reset">
                        Clear
                    </button>
                </div>
            </div>
            <div class="two column row">
                <div class="column">
                    <div class="ui statistic">
                        <div class="value" id="green-count">
                            <span class="filter-count"></span>
                        </div>
                        <div class="label">projects</div>
                    </div>
                </div>
                <div class="column">
                    <div class="ui statistic right floated">
                        <div class="value">
                            <span class="filter-funding" id="green-funding"></span>
                        </div>
                        <div class="label">
                            funding
                        </div>
                    </div>
                </div>
            </div>
            <div id="green-map-container"
                 class="sixteen wide mobile eight wide tablet four wide computer column">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <select name="admin-level" class="ui fluid dropdown">
                            <option value="province">Province</option>
                            <option value="district">District</option>
                        </select>
                    </div>
                </div>

                <div id="green-map"></div>
                <div id="" style="display: none"></div>
                <div>
                    <svg id="green-map-legend" class="map legend"></svg>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
                <div class="ui grid">
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column"
                         id="categories-chart-container">
                        <h2 class="ui header">Categories</h2>
                        <div class="ui grid">
                            <div class="four wide column">
                                <div id="green-chart-5"></div>
                            </div>
                            <div class="twelve wide column">
                                <div id="green-chart-1"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column">
                        <h2 class="ui header"></h2>
                        <div class="ui grid">
                            <div class="four wide column">
                                <div id="green-chart-6"></div>
                            </div>
                            <div class="twelve wide column">
                                <div id="green-chart-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column"
                         id="">
                        <div class="ui one column grid">
                            <div class="column">
                                <h2 class="ui header">Complementary Areas</h2>
                                <div id="green-chart-3"></div>
                            </div>
                            <div class="column">
                                <h2 class="ui header">Green Catalyzers</h2>
                                <div id="green-chart-4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sixteen wide mobile sixteen wide tablet eight wide computer column"
                         id="green-partner-container">
                        <h2 class="ui header">Partner</h2>
                        <div id="green-partner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tab" data-tab="pipeline">
        <div id="pipeline-partner-filter"></div>
        <div id="pipeline-total"></div>
        <table class="ui celled structured table" id="pipeline-table">
            <thead class="header">
            <tr>
                <th rowspan="2">Priority Area</th>
                <th rowspan="2">Sector</th>
                <th rowspan="2">Total Indicative Allocation (%)</th>
                <th colspan="5">Phase 1 (EJPS 2021-2025)</th>
                <th colspan="2">Phase 2 (2026-2027)</th>
            </tr>
            <tr>
                <th>2021</th>
                <th>2022</th>
                <th>2023</th>
                <th>2024</th>
                <th>2025</th>
                <th>2026</th>
                <th>2027</th>
            </tr>
            </thead>
        </table>
    </div>


</div>
<div id="footer" class="ui vertical footer segment" style="visibility: hidden">
    <div class="ui center aligned container">
        <div class="ui stackable divided grid">
            <div class="sixteen wide mobile nine wide computer column">
                <div class="ui message">
                    <div class="header">
                        Disclaimer
                    </div>
                    <ul class="list">
                        <li>This platform has been developed as a tool for internal coordination purposes among the
                            Joint Programming partners.
                        </li>
                        <li>The information content in this platform is for internal use only.</li>
                        <li>The figures represented in this platform are based on the total amount of the projects, and
                            therefore should be considered as an estimated amount at the province and district level.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sixteen wide mobile seven wide computer column">
                <img src="{% static 'img/jp_logo.png' %}" height="140px" class="ui centered image">
            </div>
        </div>
    </div>
</div>
<div class="ui inverted active dimmer" id="loader">
    <div class="ui text loader">Loading</div>
</div>


</body>


<script>
    $('.menu .dropdown').dropdown({
        action: 'nothing'
    });
    $('.ui.dropdown').dropdown();
    $('.ui.sticky').sticky();
    $('#filter')
        .popup({
            'hoverable': true
        });
</script>

<script src="{% static 'js/charts.js' %}"></script>

<script>

    const files = [
        '{% static "data/laos.geojson" %}',
        "/projects?status=ongoing",
        "/districts/",
        "/provinces/",
        '{% static "data/laos-districts.geojson" %}',
        "/pipelines/",
        "/sectors/"
    ];

    let promises = [];
    files.forEach(url => promises.push(d3.json(url)));
    Promise.all(promises).then(data => loadData(
        data[0],
        data[1],
        data[2],
        data[3],
        data[4],
        data[5],
        data[6]
    ));


</script>

</html>