#dashboard {
    margin: 1em;
    flex: 1;
}


.dc-cbox-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dc-cbox-item {
    display: block !important;
    margin: .5em 0;
    padding: 0;
}

.dc-cbox-group input[type = reset] {
    display: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#legend, #green-map-legend {
    position: relative;
    margin-top: -200px;
    left: 0;
    width: 240px;
    z-index: 900;
    height: 200px;
}

.main.menu {
    margin-top: 4em;
    border-radius: 0;
    transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.menu .item {
    cursor: pointer;
}

#count {
    float: none;
}

.dc-chart g.row text {
    fill: #000;
    text-shadow: -1px 0 1px #fff, 0 1px 1px #fff, 1px 0 1px #fff, 0 -1px 1px #fff;
}

.dc-chart g.state path {
    stroke: #111;
}

.dc-chart .selected path {
    stroke-width: 1;
    fill-opacity: 1;
}

.dc-chart rect.bar {
    fill-opacity: .8;
}

.cleanrow {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: inherit;
    align-items: stretch;
    width: 100% !important;
}

#admin-level-switcher {
    width: 150px;
}

.footer {
    text-align: center;
    margin-top: 70px;
    border-top: 1px solid #D4D4D5 !important;
}

.ui.footer.segment {
    margin: 4em 0 0;
    padding: 2em 0;
}

.column {
    /*min-height: 150px*/
}

.dc-chart g.row text {
    /*fill: #000;*/
    /*text-shadow: none;*/
    font-size: 14px;
    /*font-family: Lato, sans-serif;*/
    fill: #050709;
    /*font-weight: 600;*/
    /*stroke: #ffffff*/
    /*text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;*/
}

